<?xml version="1.0"?>
<launch>

  <!-- create 2 driver -->
  <include file="$(find create_bringup)/launch/create_2.launch">
    <arg name="config" default="$(find oscar_bringup)/config/robot.yaml" />
    <arg name="desc" value="false" /> <!-- disable create 2 description -->
  </include>

  <!-- oscar's robot description -->
  <include file="$(find oscar_description)/launch/description.launch" />

  <!-- sensors -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">

    <arg name="fisheye_width"       default="640"/>
    <arg name="fisheye_height"      default="480"/>
    <arg name="enable_fisheye"      default="false"/>

    <arg name="depth_width"         default="640"/>
    <arg name="depth_height"        default="480"/>
    <arg name="enable_depth"        default="true"/>

    <arg name="infra_width"        default="640"/>
    <arg name="infra_height"       default="480"/>
    <arg name="enable_infra1"       default="true"/>
    <arg name="enable_infra2"       default="true"/>

    <arg name="color_width"         default="640"/>
    <arg name="color_height"        default="480"/>
    <arg name="enable_color"        default="true"/>

    <arg name="fisheye_fps"         default="30"/>
    <arg name="depth_fps"           default="30"/>
    <arg name="infra_fps"           default="30"/>
    <arg name="color_fps"           default="30"/>
    <arg name="gyro_fps"            default="400"/>
    <arg name="accel_fps"           default="250"/>
    <arg name="enable_gyro"         default="true"/>
    <arg name="enable_accel"        default="true"/>

    <arg name="enable_pointcloud"         default="false"/>
    <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/>
    <arg name="pointcloud_texture_index"  default="0"/>

    <arg name="enable_sync"               default="false"/>
    <arg name="align_depth"               default="true"/>

    <arg name="filters"                   default="pointcloud"/>
    <arg name="clip_distance"             default="-2"/>
    <arg name="linear_accel_cov"          default="0.1"/>
    <arg name="initial_reset"             default="false"/>
    <arg name="reconnect_timeout"         default="6.0"/>
    <arg name="unite_imu_method"          default="linear_interpolation"/>
    <arg name="topic_odom_in"             default="/odom"/>
    <arg name="publish_odom_tf"           default="false"/>
    <arg name="allow_no_texture_points"   default="false"/>
  </include>
  
</launch>
